*{
	margin: 0;
	padding: 0;		
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto Condensed';
}
header{
	background: rgb(255, 186, 0);
	height: 100px;
	width: 100%;
	position: sticky;
	top:0;
	overflow: hidden;
	z-index: 100;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	
}

/* .logo a {
	color:#ac0f0f;
	font-size:20px ;
	font-family: "UTM Aristote";
} */

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
	
	
}
.nav-links a{
	color: #000;
	font-weight:500;
	
}
.nav-links a:hover{
	color: rgb(34, 139, 34);
}

.nav-links li{
	border: 5px solid rgb(256,222,0);
	background-color: rgb(256,222,0);
	border-radius: 10px;
	
}
.icons a{
	color: #ac0f0f;
	padding: 0 5px;
	font-size:x-large;
	
} 

.search-input{
	background: #fff;
	width: 40%;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
	height: auto;
	margin-left: 150px;
  }
  
  .search-input input{
	height: 35px;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input .icon{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	cursor: pointer;
  }

.banner img{
	width: 100%;
	
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}
.dot:hover {
	background-color: #717171;
  	animation-name:fade;
  	animation-duration:1.5s;
  }

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
	margin:.5rem;
}

.dishes .box-container .box{
    padding:1rem 9%;
	background:rgb(228, 243, 223);
    border-radius: 20px;
    border:.5rem solid rgb(217, 244, 207);
    /* box-shadow: var(box-shadow); */
    position: relative;
    overflow: hidden;
    text-align: center;
}

.box:hover{
	cursor: pointer;
	transform: scale(1.01);
	transition: .6s;
}
.sub-heading,.heading{
	text-align: center;
	font-family: 'Times',serif;
	font-weight:lighter;
	
}
.sub-heading{
	font-size: 30px;
}	
	
	

.dishes .box-container .box p{
	font-size: 25px;
	cursor: pointer;
	align-content: center;
	font-weight: 2em;
}
.fa{
	font-size: 25px;
	transition: .4px;
	color:rgb(34, 139, 34);
	
}
.checked{
	color: rgb(256,222,0);
}

.fa:hover{
	transform: scale(1.3);
	transition: .6s;
}
.box a.fa{
	font-size: 40px;
	color:#bc3b80;
}
.dishes .box-container .box img{
    height:17rem;
    width: fit-content;
}

.dishes .box-container .box span{
    font-weight: bolder;
	color: #ac0f0f;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.dishes .box-container .box a.btn{
	border:solid 6px rgb(256,222,0);
	background: rgb(256,222,0);
	color: #ac0f0f;
	font-weight: bold;
	font-size: 25px;
	/* transform: scale(1.3); */
	transition: .4s;
	border-radius: 10px;
	padding: 3px;
}

.about .info {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	position:static;
	margin: 20px 10px;

}
.about img{
  border-radius: 5rem;
}
.about p{
	line-height: 2;
	align-self: center;
	text-align: justify;
}
.todaymenu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
	margin:.5rem;
}

.todaymenu .box-container .box{
    padding:1rem 9%;
	background:rgb(255, 255, 255);
    border-radius: 20px;
    border:.5rem solid rgb(255, 255, 255);
    /* box-shadow: var(box-shadow); */
    position: relative;
    overflow: hidden;
    text-align: center;
}
.todaymenu .box-container .box p{
	font-size: 25px;
	cursor: pointer;
	align-content: center;
	font-weight: 2em;
}
.todaymenu .box-container .box img{
    height: 17.5rem;
    width:fit-content;
}

.todaymenu .box-container .box span{
    font-weight: bolder;
	color: #ac0f0f;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.todaymenu .box-container .box a.btn{
	border:3px solid rgb(34, 139, 34);
	background: rgb(34, 139, 34);
	color: #ffffff;
	font-weight: light;
	font-size: 25px;
	/* transform: scale(1.3); */
	transition: .4s;
	border-radius: 10px;
	padding: 3px;
}
